@import url('https://fonts.googleapis.com/css?family=Roboto:300,700&display=swap');

html,
body {
  margin: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: block;
  align-items: center;
  justify-items: center;
  background-color: cadetblue;
}

.title {
  padding: 50px 25px;
  text-align: center;
}

h1 {
  font-size: 3rem;
  margin: 0;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
}

picture {
  display: block;
  max-width: 100%;
}
/* Hidden the square pictures when screen size under 960px */
.landscape{
  display: block;
}
.square{
  display: none;
}

@media (min-width: 960px) {
  .header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  /* Hidden the landscape pictures when screen size above 960px */
  .square {
    display: block;
  }
  .landscape{
    display: none;
  }
  
}